<!DOCTYPE html>
<html>
<head>
  <style>
    p.line {
      white-space: pre-wrap;
      width: stretch;
      font-size: medium;
    }
    p.line-header {
      white-space: pre-wrap;
      width: stretch;
      text-align: center;
      font-size: medium;
      padding-top:3em;
    }
  </style>
</head>
<body>
  <h5 class="line-header" style="margin-top:2em"><strong><em>Course Information</em></strong></h5>
  <p><small><strong><em>Book Title: ASP.NET-Core-5-and-Angular Cookbook</em> <br /> <em>Author: Valerio De Sanctis</em></strong></small></p>
  <hr />
  <h5 class="line-header"><strong><em>Course Overview</em></strong></h5>
  <p class="line"><small>Locate any city, in any country across the globe with longitude, latitude, iso2, and iso3 numbers; each city displays the country name it is located. Simply register for an account, signin and start to learn. Users' can also add or remove either a city or country; this interactive solution is great for anyone that seeks to improve their knowledge of the locations of cities and countries across the globe. The solution consists of two projects; WorldCities and Health Check. If you clone this solution make sure set both projects to start simultaneously. Each application will open in their own browser window.</small></p>
  <hr />
  <h5 class="line-header"><strong><em>Projects</em></strong></h5>
  <p class="line"><small><strong><em>Application 1: Atlas</em></strong></small></p>
  <p class="line"><small>Locate any city, in any country across the globe with longitude, latitude, iso2, and iso3 numbers; each city displays the country name it is located. Simply register for an account, signin and start to learn. Users' can also add or remove either a city or country. Can you find waldo?</small></p>

  <hr />

  <p class="line"><small><strong><em>Application 2: Health Check:</em></strong></small></p>
  <p class="line"><small>Health Check renders connectivity metrics for a designated domain or domains. If WorldCities were to be live, I would add the domain to HealthCheck to easily identity if a network issue exists.</small></p>

</body>
</html>

