<ng-container class="text-left" *ngIf="cities">
  <h5 class="line-header" style="padding-top:1em"><strong><em>Cities</em></strong></h5>
  <p *ngIf="!cities"><em>Loading...</em></p>
  <ng-container>
    <input matInput (keyup)="loadData($event.target.value)" style="width:fit-content; height:fit-content;" type="text" placeholder="Search:" />
  </ng-container>
  <ng-container class="commands text-right">
    <button type="button"
            [routerLink]="['/city']"
            class="btn btn-success btn-sm"
            style="margin-left:30em">
      <small><strong><em>Add City</em></strong></small>
    </button>
  </ng-container>
</ng-container>

<table mat-table [dataSource]="cities" class="table-striped mat-elevation-z8" [hidden]="!cities"
       matSort (matSortChange)="loadData()"
       matSortActive="{{defaultSortColumn}}" matSortDirection="{{defaultSortOrder}}">

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>City ID</th>
    <td mat-cell *matCellDef="let city"> {{city.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let city">
      <a [routerLink]="['/city', city.id]">{{city.name}}</a>
    </td>
  </ng-container>

  <!-- Lat Column -->
  <ng-container matColumnDef="lat">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
    <td mat-cell *matCellDef="let city"> {{city.lat}} </td>
  </ng-container>

  <!-- Lon Column -->
  <ng-container matColumnDef="lon">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
    <td mat-cell *matCellDef="let city"> {{city.lon}} </td>
  </ng-container>

  <!-- CountryName Column -->
  <ng-container matColumnDef="countryName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
    <td mat-cell *matCellDef="let city">
      <a [routerLink]="['/country', city.countryId]">{{city.countryName}}</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
﻿
<!-- Pagination directive -->
<mat-paginator [hidden]="!cities"
               (page)="getData($event)"
               [length]="100"
               [pageSize]="10"
               aria-label="Select page"></mat-paginator>
