table {
  width: 100%;
  font-size: 14px;
}

.mat-form-field {
  font-size: 12px;
  width:30%;
}

label {
  display: block;
  color: white;
  margin: 0 0 4px;
}

input {
  border: solid;
  border-style:groove;
  width: 50px;
  padding-right:25em;
  font-size: 1em;
  width: 20%;
}

  input::placeholder {
    color: black;
    font-size:.75em;
  }

label, input {
  font-family: sans-serif;
}

p.line {
  white-space: pre-wrap;
  width: stretch;
  font-size: medium;
}

p.line-header {
  white-space: pre-wrap;
  width: stretch;
  text-align: center;
  font-size: medium;
  padding-top: 3em;
}

